.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reco_movie_section {
  display: flex;
  flex-direction: column;
}

.reco_movie_section > div {
  display: flex;
  gap: 6px;
}

.all_movie_section {
  display: flex;
  flex-direction: column;
}

.all_movie_section > div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
}
