.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.cover_img_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  border-radius: 10px;
  box-shadow: 0 0 20px rgba(229, 9, 20, 0.5);

  overflow: hidden;
}

.cover_img_container::before {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.7);
}

.cover_img_container img {
  z-index: 1;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
}

.title {
  font-size: 38px;
  font-weight: 800;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.meta {
  font-size: 15px;
  color: #aaaaaa;
  margin-top: 2px;
  line-height: 1.5;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #f25a5a;
  margin-top: 30px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  line-height: 1.75;
  color: #e0e0e0;
  white-space: pre-line;
  background-color: rgba(255, 255, 255, 0.02);
  padding: 15px 20px;
  border-left: 4px solid rgba(255, 50, 50, 0.5);
  border-radius: 4px;
}
